<%= render :partial => 'admin/shared/product_sub_menu' %>
<h1><%= t('positions_for_products_in_taxons') %></h1>

<div class="accordion">
  <% @taxons.each do |taxon| %>
    <h3><%= taxon.name.humanize %></h3>
    <div><%= render :partial=> 'product_list', :locals => {:taxon => taxon} %></div>
  <% end %>
</div>
